/.shards/
/ext/qt6cr/build/
/docs/_site/
/docs/book/*.aux
/docs/book/*.log
/docs/book/*.out
/docs/book/*.toc
/docs/book/*.lof
/docs/book/*.lot
/docs/book/*.pdf
/docs/book/*.fdb_latexmk
/docs/book/*.fls
/docs/book/chapters/*.aux
/docs/book/*.gz
.codex
